.media {
  border: 1px solid #d5dbdd;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
  align-items: flex-start;
  display: flex;
  -webkit-box-align: start;
  margin-top: 20px;
}
.btn-default {
  background: #6b456a;
  color: #fff;
  border-radius: 30px;
  border: none;
  font-size: 16px;
}
h4 {
  color: #6b456a;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.rounded-circle {
  border-radius: 50% !important;
  width: 75px;
}
